@use '../../scss/_mixins';

.events-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 40%;
  margin-left: 5em;

  > .heading {
    > h1 {
      font-size: 3em;
      margin-top: 0;
      margin-bottom: 0.2em;
    }
    > button {
      @include _mixins.greenAccent;
      transform: translateY(-0.2em);
    }
  }
}

.heading {
  display: inline-flex;
  align-items: center;

  > h4 {
    word-wrap: break-word;
    text-align: left;
    max-width: fit-content;
    font-size: 2em;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  > button {
    cursor: pointer;
    margin-left: 1em;
    @include _mixins.redAccent;
    border: none;
    border-radius: 50%;
    min-width: 2em;
    min-height: 2em;
    font-weight: 700;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
      box-shadow 0.3s cubic-bezier(0.22, 1, 0.36, 1);

    box-shadow: 0 0px 0.3px rgba(0, 0, 0, -0.006),
      0 0.1px 0.8px rgba(0, 0, 0, 0.003), 0 0.3px 1.8px rgba(0, 0, 0, 0.028),
      0 1px 6px rgba(0, 0, 0, 0.08);

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0.1px 0.3px rgba(0, 0, 0, -0.006),
        0 0.3px 0.8px rgba(0, 0, 0, 0.003), 0 0.6px 1.8px rgba(0, 0, 0, 0.028),
        0 2px 6px rgba(0, 0, 0, 0.08);
    }
  }
}

.event {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-wrap: break-word;
  border: 1px solid #eee;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  padding: 1em;
  border-radius: 4px;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.3s cubic-bezier(0.22, 1, 0.36, 1);

  box-shadow: 0 0.1px 0.4px rgba(0, 0, 0, 0.022),
    0 0.3px 1px rgba(0, 0, 0, 0.031), 0 0.7px 2.1px rgba(0, 0, 0, 0.039),
    0 1.5px 4.4px rgba(0, 0, 0, 0.048), 0 4px 12px rgba(0, 0, 0, 0.07);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.3px 0.4px rgba(0, 0, 0, 0.022),
      0 0.9px 1px rgba(0, 0, 0, 0.031), 0 1.8px 2.1px rgba(0, 0, 0, 0.039),
      0 3.7px 4.4px rgba(0, 0, 0, 0.048), 0 10px 12px rgba(0, 0, 0, 0.07);
  }
}

.event-content {
  text-align: left;

  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.event-content span:first-child {
  font-weight: 500;
}

.event-content span:last-child {
  font-weight: 300;
}

@media screen and (max-width: 450px) {
  .events-list {
    margin: 0;
    align-items: center;

    h1 {
      font-size: 2.3em !important;
    }
  }

  .event {
    max-width: 90%;
    font-size: 0.8em;
  }
}
