.react-calendar {
  box-shadow: 0 7.4px 5px -10px rgba(0, 0, 0, 0.038),
    0 30px 40px -10px rgba(0, 0, 0, 0.07);
  border: none !important;
}

abbr[title] {
  text-decoration: none;
}

.highlighted_dates {
  background-color: #ff868657 !important;
  color: red !important;
}

.react-calendar__tile {
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.038), 0 2px 4px rgba(0, 0, 0, 0.07) !important;
}

.react-calendar__tile--now {
  background-color: #2dff0e57 !important;
  color: green !important;
}

.react-calendar__tile--active {
  background: #006edc57 !important;
  color: #006edcbd !important;
}

.react-calendar__tile--rangeBothEnds,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--active:enabled:hover {
  background-color: #e6e6e6 !important;
  color: black !important;
}
