.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3em;
  min-height: fit-content;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.795);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1px;
}

.input-field {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.input-field > label {
  margin-bottom: 0.5em;
}

.input-field > input[type="text"] {
  box-sizing: border-box;
  padding: 12px 20px;
  border: 2px solid rgb(199, 199, 199);
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

.input-field > input[type="text"]:focus {
  border: 2px solid #000;
}

.input-field > select {
  box-sizing: border-box;
  border: 2px solid rgb(199, 199, 199);
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 12px 20px;
}

.input-field > select:focus {
  border: 2px solid #000;
}

.invalid_field {
  box-sizing: border-box !important;
  border: 2px solid rgba(255, 34, 34, 0.664) !important;
}

.invalid_field:focus {
  border: 3px solid rgba(255, 34, 34, 0.664) !important;
}

.create-button {
  font-weight: 700;
  padding: 12px 12px;
  margin: 8px 0;
  background-color: #ff868657;
  color: #ff0000bd;
  border: none;
  border-radius: 4px;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.create-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 3px 4px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 3px 4px 0px rgba(34, 60, 80, 0.2);
}

.create-button:focus {
  border: 1px solid red;
}
