@import "../components/EventsList/Events.module.scss";
@import "../components/Modal/Modal.module.scss";
@import "../components/Calendar/OverrideDefault.module.scss";

.App {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 1em;
}

@media screen and (max-width: 450px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}
